#scroll-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;

  background: rgba(255, 255, 255, 0.25); /* 👈 blanco translúcido */
  backdrop-filter: blur(10px); /* 👈 glass effect */

  color: #072ac8; /* 👈 azul de tu marca */
  font-size: 22px;
  font-weight: bold;

  cursor: pointer;

  opacity: 0;
  transition: all 0.3s ease;

  z-index: 9999;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  pointer-events: none;
}

#scroll-btn.show {
  opacity: 1;
  pointer-events: auto;
}

#scroll-btn:hover {
  background: rgba(255, 255, 255, 0.5); /* más sólido */
  transform: translateY(-4px) scale(1.05);
}