:root{
  --primary-color: #072ac8;
  --secondary-color: #6b708d;
}

.dark{
  --primary-color: #1e40af;
  --secondary-color: #6b708d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f4f6fc;
}

html {
  scroll-behavior: smooth;
}
/* Header */

.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-menu a {
  display: inline-block;
  transition: all 0.3s ease;
}

.nav-menu a:hover {
  color: #072ac8;
  transform: translateY(-2px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 20px 80px;
  background: #f4f6fc;
}

nav h2 {
  color: #072ac8;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #6b708d;
  font-weight: 500;
}

.btn-contact {
  background-color: #072ac8;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 500;
}

.mobile-only {
  display: none;
}



/* Footer Section*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  background-color: #f4f6fc;
}

.footer-left {
  max-width: 300px;
  padding-left: 30px;
}

.footer-left h2 {
  color: #072ac8;
  margin-bottom: 20px;
}

.footer-right {
  display: flex;
  gap: 80px;
  
  padding-right: 50px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-column p {
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-column p:hover {
  color: #072ac8;
  transform: translateX(5px);
}

.footer-column a {
  text-decoration: none;
  color: inherit;
}


/* Responsive Design */

@media (max-width: 1024px) {

  nav {
    padding: 20px 40px;
  }


  .hero {
    padding: 40px;
  }


  .hero-left {
    max-width: 100%;
  }

  .hero-buttons {
    justify-content: center;
  }

  .projects-container {
    flex-wrap: wrap;
  }

  .services-container {
    flex-wrap: wrap;
    gap: 40px;
  }

  .footer {
    flex-direction: column;
    gap: 40px;
  }
}


@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    gap: 15px;
    background: white;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  .nav-menu a:hover {
  color: #072ac8;
  transform: translateX(5px);
  }

  .nav-menu.active {
    display: flex;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row; /* 👈 CAMBIAR */
    justify-content: space-between; /* 👈 AÑADIR */
    align-items: center;
    padding: 15px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  nav h2 {
  font-size: 24px;
  }

  .btn-contact {
    padding: 10px 20px;
  }

  .contact h1 {
    margin-top: 30px; 
    font-size: 28px;
  }

  .contact-form {
    padding: 0 15px;
    
  }

  .hero {
    padding: 20px;
    flex-direction: column;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero h3 {
    font-size: 16px;
  }

  .hero-right {
    margin-top: 30px;
  }

  .card-top,
  .card-bottom {
    display: none;
  }

  .clients {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .Testimonial {
  padding: 60px 20px;
  min-height: auto;
  background-size: cover;
  background-position: center;
  }
  .highlight {
  padding: 0 10px;
  }

  .testimonial-container {
    width: 100%;
    padding: 0 20px;
  }

  .testimonial-profile {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-kristin {
    text-align: center;
  }

  .tell-us {
    font-size: 28px;
  }

  .testimonial-logos {
    display: none;
  }

  .projects {
    padding: 40px 20px;
  }

  .projects-container {
    flex-direction: column;
  }

  .services {
  text-align: center;
  }

  .services {
    padding: 40px 20px;
  }

  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .questions {
    width: 100%;
  }
  .newsletter {
    flex-direction: column;
    align-items: center;
  }

  .input-container {
    width: 100%;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-right {
    flex-direction: column;
    gap: 20px;

  }

  .footer-column {
    align-items: center;
  }

  .form-row {
    flex-direction: column;
  }
}